<h3 class="title">会員一覧</h3>
<div class="col-sm-7 col-sm-offset-2">
<table class="table">
  <thead>
  <tr class="active">
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  </thead>
  <tbody>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= link_to "#{customer.last_name}
   #{customer.first_name}", owner_customer_path(customer) %></td>
    <td><%= customer.email %></td>
    <td>
    <% if customer.is_deleted==false %>有効
    <% else customer.is_deleted==true %>退会済
    <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<div class="text-center"><%= paginate @customers %></div>
